/* Setup */

body {
  margin: 0;
}

/* Nav */

.nav {
  border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
  border-style: solid;
  border-width: 5px;
  background: #adadad;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item,
.nav__item--selected {
  color: blue;
  cursor: pointer;
  margin: 0 10px;
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__item--selected {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

/* Page main */

.page-main {
  padding: 40px;
  position: relative;
}

/* Page floating head */

.page-floating-head {

}

.page-floating-head__play-pause {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-floating-head__play-pause-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.page-floating-head__play-pause-icon:hover {
  opacity: 0.7;
}

.page-floating-head__play-pause-text {
  margin-left: 20px;
}

.page-floating-head__hidden-audio {
  display: none;
}

.page-floating-head__head {
  pointer-events: none;
  transform: scale(3);
  position: fixed;
  display: inline-block;
  margin-left: 100px;
  margin-top: -20px;
}

.page-floating-head__head-image {
  width: 100px;
}

.page-floating-head__mouth-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-floating-head__mouth-image {
  opacity: 0;
  transform: scaleY(0);
  height: 18px;
  width: 32px;
  margin-top: 11px;
  margin-left: 3px;
  transition: opacity .08s, transform .08s;
}

.page-floating-head__mouth-image--shown {
  opacity: 1;
  transform: scaleY(1);
}

/* Page: memes */
.page-memes {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.page-memes__image {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 40%;
  min-width: 400px;
}

.page-memes__image:not(:last-child) {
  margin-bottom: 40px;  
}

/* Page: quotes */
.page-quotes {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-quotes__inner {
  width: 50%;
  min-width: 300px;
}

.page-quotes__quote {
  font-size: 18px;
}

.page-quotes__quote:not(:last-child) {
  margin-bottom: 40px;
}

.page-quotes__quote-name {
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

/* Backgrounds */
.background--clouds {
  background-image: url('../images/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.background--becky {
  background-image: url('../images/memes/becky.png');
  background-repeat: repeat;
  background-size: 100px;
  height: 100vh;
}

.background--quotes {
  /* background-color: black; */
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain; 
  height: 100vh;
}